name: Deploy Updates

on:
  push:
    branches:
      - production

jobs:
  update:
    name: EAS Update
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./mobile
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: mobile/package-lock.json

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Publish update
        env:
          EXPO_PUBLIC_API_URL: "https://playground-management-nal2.onrender.com"
        run: |
          npm install -g eas-cli
          eas update --channel production --message "Automated update from GitHub Actions: $(git log -1 --pretty=%B)" --non-interactive
